<?xml version="1.0"?>
<config>
    <modules>
        <B3it_CmsHistory>
            <version>0.1.0.0</version>
        </B3it_CmsHistory>
    </modules>
    <global>
        <helpers>
            <b3it_cmshistory>
                <class>B3it_CmsHistory_Helper</class>
            </b3it_cmshistory>
        </helpers>
        <resources>
            <b3it_cmshistory_setup>
                <setup>
                    <module>B3it_CmsHistory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </b3it_cmshistory_setup>
        </resources>
        <blocks>
          <b3it_cmshistory>
              <class>B3it_CmsHistory_Block</class>
          </b3it_cmshistory>
        </blocks>
        <models>
            <b3it_cmshistory>
                <class>B3it_CmsHistory_Model</class>
                <resourceModel>B3it_CmsHistory_resource</resourceModel>
            </b3it_cmshistory>
            <B3it_CmsHistory_resource>
                <class>B3it_CmsHistory_Model_Resource</class>
                <entities>
                  <history_page>
                    <table>b3it_cmshistory_history_page</table>
                  </history_page>
                  <history_block>
                    <table>b3it_cmshistory_history_block</table>
                  </history_block>
                </entities>
            </B3it_CmsHistory_resource>
        </models>
    </global>
    <admin>
      <routers>
          <adminhtml>
              <args>
                  <modules>
                      <B3it_CmsHistory_Adminhtml after="Mage_Adminhtml">B3it_CmsHistory_Adminhtml</B3it_CmsHistory_Adminhtml>
                  </modules>
              </args>
          </adminhtml>
      </routers>
    </admin>
    <adminhtml>
        <events>
            <cms_page_save_after>
                <observers>
                    <b3it_cmshistory_page_save_after>
                        <class>B3it_CmsHistory_Model_Observer_Page</class>
                        <method>onSaveAfter</method>
                    </b3it_cmshistory_page_save_after>
                </observers>
            </cms_page_save_after>
            <model_save_after>
                <observers>
                    <b3it_cmshistory_block_save_after>
                        <class>B3it_CmsHistory_Model_Observer_Block</class>
                        <method>onSaveAfter</method>
                    </b3it_cmshistory_block_save_after>
                </observers>
            </model_save_after>
        </events>
        <layout>
          <updates>
            <B3itCmsHistory>
              <file>b3it/cmshistory.xml</file>
            </B3itCmsHistory>
          </updates>
        </layout>
    </adminhtml>
</config>
